body {
  margin: 0;
  background-color: #000;
}

.App {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* font-family: "Source Code Regular"; */
  font-family: "Consolas";
}

.header-text {
  color: white;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.body-text {
  color: white;
  margin-left: 0.5rem;
}

.input-text {
  color: white;
}

.command-body {
  margin-top: 1rem;
}

.error-text {
  margin-left: 0.5rem;
  color: red;
  font-style: italic;
}

.command-text {
  color: white;
  display: block;
  margin-left: 0.5rem;
}

.hidden-input {
  position: absolute;
  opacity: 0;
  border: none;
  color: white;
  pointer-events: none;
}

.certification-text {
  color: white;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.text-hightlight {
  color: green;
  font-weight: bold;
}

.text-semi-highlight {
  color: yellow;
}

.text-blue {
  color: blue;
  font-weight: bold;
}

.text-pretty {
  color: rgb(233, 176, 185);
  font-weight: bold;
}

.terminal-cursor {
  font-weight: bold;
  margin-left: 3px;
  animation: blink 1s step-end infinite;
}

.tab {
  margin-left: 10px;
  color: white;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (max-width: 768) {

  .terminal {
    font-size: 14px;
    padding: 12px;
  }
}